* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: #eee;
}

.page-container {
  width: 1170px;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 12px 0;
}

section .area-title {
  display: flex;
  height: 32px;
  align-items: center;
  background-color: #eee;
}

.area-title .line {
  width: 4px;
  height: 16px;
  background-color: rgb(17, 0, 255);
}

.area-title .title {
  font-weight: bold;
  padding-left: 8px;
}

.area-body {
  display: flex;
  height: 44px;
  align-items: center;
  flex-wrap: wrap;
}

.area-body i {
  margin: 20px 60px 20px 15px;
}
